@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-gray-50 text-gray-900;
}
a {
  transition: color 0.3s ease, transform 0.3s ease;
}
a:hover {
  transform: translateY(-2px);
}